<div id="location-<%= location.id %>">
  <h3><%= location.name %></h3>

  <% if location.forecast.present? %>
    <% days = location.forecast['daily']['time'] %>
    <% highs = location.forecast['daily']['temperature_2m_max'].map.with_index { |temp, index| [days[index], temp] } %>
    <% lows = location.forecast['daily']['temperature_2m_min'].map.with_index { |temp, index| [days[index], temp] } %>
    
    <%= line_chart [
        {name: "Highs", data: highs},
        {name: "Lows", data: lows}
      ], ytitle: "Temperature (°C)", xtitle: "Day", discrete: true, id: "chart-#{location.id}" %>
  <% else %>
    <p>Weather information is not available.</p>
  <% end %>

  <%= link_to 'Delete', location, method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
</div>
