<div id="location-<%= location.id %>">
  <h3><%= location.name %></h3>

  <% if location.forecast.present? %>
    <% high_lows = location.forecast['daily']['time'].each_with_index.map do |day, index| 
        [
          day, 
          [location.forecast['daily']['temperature_2m_min'][index], 
          location.forecast['daily']['temperature_2m_max'][index]]
        ] 
      end
    %>
    <%= line_chart high_lows, ytitle: "Temperature (°C)", xtitle: "Day", discrete: true %>
  <% else %>
    <p>Weather information is not available.</p>
  <% end %>

  <%= link_to 'Delete', location, method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
</div>
